export DINGO_STARTUP_PATRONI_DEFAULT_PATH=config/patroni-default-values.yml
export DINGO_STARTUP_URI=http://localhost:3000

# Currently these are S3 Master keys; typically API returns per-bucket/sub-folder access only
export AWS_ACCESS_KEY_ID=AKIAJEIGELHYLNI5RUBQ
export AWS_SECRET_ACCESS_KEY=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
export WAL_S3_BUCKET=dingo-agent-dev-drnic
export WALE_S3_PREFIX=s3://${WAL_S3_BUCKET}/backups/cluster-scope/wal/
export WALE_S3_ENDPOINT=https+path://s3.amazonaws.com:443
