[submodule "images/postgresql96-base/wal-e"]
	path = images/postgresql96-base/wal-e
	url = https://github.com/drnic/wal-e.git
	branch = ssh_strategy
[submodule "images/base/wal-e"]
	path = images/base/wal-e
	url = https://github.com/drnic/wal-e.git
	branch = ssh_strategy
